<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title>梗体中文 · 在线构建</title>
    <meta content="梗体中文 · 在线构建" property="og:title">
    <meta content="website" property="og:type">
    <meta content="梗体中文资源包在线构建系统，帮助用户构建。" property="og:description">
    <script src="https://cdn.jsdelivr.net/combine/npm/axios@0.19.2/dist/axios.min.js,npm/vue@2,npm/vuetify@2"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    {% include './custom/style.html' ignore missing %}
    <style>
        .v-main__wrap > container {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .v-alert {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-main>
            {% include './custom/header.html' ignore missing %}
            <v-app-bar
                    outlined flat
                    color="white">
                <v-toolbar-title>梗体中文 · 在线构建</v-toolbar-title>
                <v-spacer></v-spacer>
                <div v-if="$vuetify.breakpoint.name !== 'xs'">
                    <v-btn text rel="noopener noreferrer" :href="links.mcbbs">
                        <v-icon left>mdi-post</v-icon>
                        MCBBS
                    </v-btn>
                    <v-btn text rel="noopener noreferrer"
                           :href="links.github">
                        <v-icon left>mdi-github</v-icon>
                        GitHub
                    </v-btn>
                    <v-btn text rel="noopener noreferrer"
                           :href="links.disc">
                        <v-icon left>mdi-disc</v-icon>
                        唱片包
                    </v-btn>
                </div>
                <div v-else>
                    <v-menu bottom left>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                    icon
                                    v-bind="attrs"
                                    v-on="on"
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>

                        <v-list dense>
                            <v-list-item rel="noopener noreferrer"
                                         :href="links.mcbbs">
                                <v-list-item-icon>
                                    <v-icon>mdi-post</v-icon>
                                </v-list-item-icon>
                                <v-list-item-text>
                                    MCBBS
                                </v-list-item-text>
                            </v-list-item>
                            <v-list-item rel="noopener noreferrer"
                                         :href="links.github">
                                <v-list-item-icon>
                                    <v-icon>mdi-github</v-icon>
                                </v-list-item-icon>
                                <v-list-item-text>
                                    GitHub
                                </v-list-item-text>
                            </v-list-item>
                            <v-list-item rel="noopener noreferrer"
                                         :href="links.disc">
                                <v-list-item-icon>
                                    <v-icon>mdi-disc</v-icon>
                                </v-list-item-icon>
                                <v-list-item-text>
                                    唱片包
                                </v-list-item-text>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>
            </v-app-bar>
            {% include './custom/notice.html' ignore missing %}
            <v-tabs
                    fixed-tabs
                    background-color="transparent"
                    v-model="tab"
            >
                <v-tab>
                    Java版
                </v-tab>
                <v-tab>
                    基岩版
                </v-tab>
            </v-tabs>

            <v-container>
                <v-tabs-items v-model="tab">
                    <v-tab-item>
                        <v-row>
                            <v-col cols="4" sm="4">
                                <v-select
                                        v-model="inputBasic.format"
                                        :items="consts.versions"
                                        label="游戏版本"
                                        hint="选择您游玩的游戏版本区间。"
                                        persistent-hint
                                />
                            </v-col>
                            <v-col cols="4" sm="4">
                                <v-select
                                        label="Mod内容选择"
                                        :items="consts.modOption"
                                        v-model="input.modOption"
                                        hint="您是否需要Mod支持？"
                                        persistent-hint
                                />
                            </v-col>
                            <v-col cols="4" sm="4">
                                <v-select
                                        label="语言选项"
                                        :items="consts.languageOption"
                                        v-model="input.languageOption"
                                        hint="您是否需要旧/特殊版本的字符串？"
                                        persistent-hint
                                />
                            </v-col>
                            <v-col cols="12" sm="4">
                                <resource-selector/>
                            </v-col>
                            <v-col cols="12" sm="4">
                                <v-select
                                        label="Mod内容选择"
                                        :disabled="input.modOption !== 'custom'"
                                        :items="consts.modList"
                                        v-model="input.mod"
                                        multiple
                                        hint="请选择您需要的Mod。"
                                        persistent-hint
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="4">
                                <v-select
                                        label="语言选择"
                                        :disabled="input.languageOption === 'none'"
                                        multiple
                                        :items="consts.languageList"
                                        v-model="input.language"
                                        hint="请选择您需要的旧/特殊版本。"
                                        persistent-hint
                                >
                                    <template v-slot:item="data">
                                        <v-list-item v-bind="data.attrs" v-on="data.on">
                                            <v-list-item-action>
                                                <v-checkbox :value="data.attrs.inputValue"
                                                            @change="data.parent.$emit('select')"></v-checkbox>
                                            </v-list-item-action>
                                            <v-list-item-content>
                                                <v-list-item-title>{% raw %} {{ data.item
                                                    }} {% endraw %}</v-list-item-title>
                                                <v-list-item-subtitle>{% raw %} {{ getManifest(data.item)
                                                    }}{% endraw %}</v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                </v-select>
                            </v-col>
                        </v-row>
                    </v-tab-item>
                    <v-tab-item>
                        <v-row>
                            <v-col cols="6" sm="6">
                                <v-select
                                        label="附加包格式"
                                        v-model="input.beExtType"
                                        :items="consts.beExtType"
                                        hint="请选择您需要的附加包格式。"
                                        persistent-hint
                                />
                            </v-col>
                            <v-col cols="6" sm="6">
                                <resource-selector></resource-selector>
                            </v-col>
                        </v-row>
                        <v-checkbox
                                label="使用兼容选项"
                                v-model="input.compatible"
                                hint="使此附加包与其他附加包兼容。此选项只会生成zh_CN.lang，因此在选项中只需选择简体中文即可体验。"
                                persistent-hint
                                class="mb-3"
                        />
                    </v-tab-item>
                </v-tabs-items>
                <v-subheader class="mb-3">提示：{% raw %}{{ consts.hints[hint] }}{% endraw %}</v-subheader>
                <v-btn color="primary" @click="submit" :disabled="loading" :loading="loading">
                    <v-icon left>mdi-cloud-download</v-icon>
                    提交构建选项
                </v-btn>
                <div v-if="logs.length >= 1">
                    <v-divider style="margin:15px 0"></v-divider>
                    <p class="headline" ref="logs">构建日志</p>
                    <v-expansion-panels v-model="logsPanel" multiple>
                        <v-expansion-panel v-for="(item,i) in logs" :key="i">
                            <v-expansion-panel-header>
                                {% raw %}{{new Date(Number(item.ts)).toLocaleString()}} {{ item.title }}{% endraw %}
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <pre style="padding-bottom:15px;white-space: pre-wrap;font-family: 'Cascadia Code', 'Fira Code','Consolas', monospace;">{% raw %}{{item.content}}{% endraw %}</pre>
                                <v-btn v-if="item.filename" @click="open('builds/' + item.filename)"
                                       color="indigo" outlined>
                                    下载
                                </v-btn>
                                <v-btn v-else
                                       @click="open(item.github + '/issues/new/choose')"
                                       dark color="black">
                                    <v-icon left>mdi-bug</v-icon>
                                    反馈
                                </v-btn>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>
                <v-divider style="margin:15px 0"></v-divider>
                <v-row class="mb-3">
                    <v-col col="12" md="6">
                        <v-card>
                            <v-list-item three-line>
                                <v-list-item-content>
                                    <div class="overline mb-4">SPONSOR</div>
                                    <v-list-item-title class="headline mb-1">梗体中文 由 SPGoding 赞助</v-list-item-title>
                                    <v-list-item-subtitle>SPGoding 是一位 Mojira 管理员、MCBBS 艺术家，代表作《大憨批》VSCode 插件。ta
                                        热心的赠送了梗体中文 7 天的 MCBBS 广告位。
                                    </v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-avatar tile color="grey" size="80">
                                    <v-img src="https://www.mcbbs.net/uc_server/data/avatar/002/44/43/78_avatar_big.jpg"></v-img>
                                </v-list-item-avatar>
                            </v-list-item>

                            <v-card-actions>
                                <v-btn rel="noopener noreferrer" text href="https://www.mcbbs.net/?2444378">MCBBS 资料页
                                </v-btn>
                                <v-btn rel="noopener noreferrer" text
                                       href="https://www.mcbbs.net/thread-926724-1-1.html">《大憨批》介绍
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                    <v-col col="12" md="6">
                        <v-card>
                            <v-list-item three-line>
                                <v-list-item-content>
                                    <div class="overline mb-4">SPONSOR</div>
                                    <v-list-item-title class="headline mb-1">梗体中文 由 是秋夕呀mua 赞助</v-list-item-title>
                                    <v-list-item-subtitle>是秋夕呀mua 是一位 Bilibili UP 主。她向她的 10w+ 粉丝<a
                                            href="https://www.bilibili.com/video/BV1Vt4y1v7jP">推荐了梗体中文</a>。
                                    </v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-avatar tile color="grey" size="80">
                                    <v-img src="static/qiuxi.jpg"></v-img>
                                </v-list-item-avatar>
                            </v-list-item>

                            <v-card-actions>
                                <v-btn rel="noopener noreferrer" text href="https://space.bilibili.com/678013610">
                                    Bilibili 主页
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
                <v-subheader class="mb-3">这些赞助者均未给予 Teahouse Studios 梗体中文团队真实金钱，亦未强迫 Teahouse Studios
                    梗体中文团队将其添加至赞助者列表——这只是 Teahouse Studios 梗体中文团队对他们的支持最诚挚的感谢。❤️
                </v-subheader>
            </v-container>
            {% include './custom/footer.html' ignore missing %}
        </v-main>
    </v-app>
</div>
{% include './custom/script.html' ignore missing %}
<script>
    new Vue({
        el: '#app',
        methods: {
            open(name) {
                window.open(name)
            },
            submit() {
                this.loading = true

                /**
                 * 根据选择的资源获取资源名称
                 * @param {string} opt - 选项 none | all | custom
                 * @param {Array} res - 选择的自定义项
                 * @param {string} prefix - 资源前缀
                 */
                function getNames(opt, res, prefix) {
                    if (opt === 'all') {
                        return ['all']
                    } else if (opt === 'none') {
                        return []
                    } else {
                        return res.map(v => v.split(prefix).join(''))
                    }
                }

                let data = Object.assign({}, this.inputBasic, {
                    _be: this.whetherUseBE,
                    language: [...new Set(
                        getNames(this.input.languageOption, this.input.language, "modules/")
                            .concat(this.inputBasic.format === 3 ? ['attributes', 'old_strings', 'diamond_hoe'] : [])
                    )],
                    resource: this.input.resource.map(v => v.startsWith("modules/") ? v.slice("modules/".length) : v),
                    mod: getNames(this.input.modOption, this.input.mod, "mods/"),
                    hash: true,
                    sfw: this.input.language.includes("modules/sfw"),
                    type: this.inputBasic.format === 3 ? 'legacy' : 'normal'
                }, this.whetherUseBE && {
                    type: this.input.beExtType,
                    compatible: this.input.compatible
                })
                console.log(data)
                window.ga && window.ga('send', 'event', this.whetherUseBE ? 'be' : 'je', 'build');
                axios({url: '/ajax', method: 'POST', data}).then(function (res) {
                    console.log(res.data)
                    this.logs.unshift({
                        title: '构建成功',
                        ts: new Date().valueOf(),
                        content: res.data.logs,
                        filename: res.data.filename,
                        github: this.links.github
                    })
                    this.logsPanel = this.logsPanel.map(v => v + 1)
                    this.logsPanel.unshift(0)
                    this.$nextTick(function () {
                        this.$refs.logs.scrollIntoView()
                    }.bind(this))
                    this.loading = false
                }.bind(this)).catch(function (err) {
                    this.logs.unshift({
                        title: '构建失败',
                        ts: new Date().valueOf(),
                        content: err.toString()
                    })
                    this.logsPanel = this.logsPanel.map(v => v + 1)
                    this.logsPanel.unshift(0)
                    this.$nextTick(function () {
                        this.$refs.logs.scrollIntoView()
                    }.bind(this))
                    this.loading = false
                }.bind(this))
            },
            getManifest(name) {
                let pureName = name.split("modules/").join('')
                return this.consts.manifests[pureName] || ""
            }
        },
        data: () => ({
            tab: null,
            logsPanel: [],
            loading: false,
            inputBasic: {
                format: 6
            },
            logs: [],
            input: {
                compatible: false,
                languageOption: "none",
                resourceOption: "all",
                modOption: "all",
                mod: [],
                resource: [],
                language: [],
                beExtType: 'mcpack'
            },
            hint: 0
        }),
        beforeMount() {
            let that = this
            Vue.component('resource-selector', {
                template: `
    <v-select label="附加内容/材质选择" multiple
                          :items="consts.resourceList" v-model="resource" hint="请选择您需要的附加内容模块。" persistent-hint>
                          <template v-slot:selection="{ item, index }">
        <v-chip v-if="index === 0">
          <span>{% raw %}{{ item }}</span>
        </v-chip>
        <span
          v-if="index === 1"
          class="grey--text caption"
        >
          (更多 {{ resource.length - 1 }} 项内容){% endraw %}
        </span>
      </template>
                    <template v-slot:prepend-item>
                        <v-list-item ripple @click="toggleResource">
                            <v-list-item-action>
                                <v-icon>{% raw %} {{ resourceIcon }}{% endraw %}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>全选</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider class="mt-2"></v-divider>
                    </template>
                    <template v-slot:item="data">
                        <v-list-item v-bind="data.attrs" v-on="data.on">
                            <v-list-item-action>
                                <v-checkbox v-model="data.attrs.inputValue"
                                            @change="data.parent.$emit('select')"></v-checkbox>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>{% raw %} {{ data.item }} {% endraw %}</v-list-item-title>
                                <v-list-item-subtitle>{% raw %} {{ getManifest(data.item)
                                    }}{% endraw %}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </v-select>
  `,
                computed: {
                    resourceIcon() {
                        if (this.resource.length === 0) {
                            return 'mdi-checkbox-blank-outline'
                        } else if (this.resource.length === that.consts.resourceList.length) {
                            return 'mdi-close-box'
                        } else {
                            return 'mdi-minus-box'
                        }
                    },
                    consts() {
                        return that.consts
                    }
                },
                watch: {
                    resource(newVal, oldVal) {
                        that.input.resource = newVal
                    }
                },
                methods: {
                    getManifest(arguments) {
                        return that.getManifest(arguments)
                    },
                    toggleResource() {
                        if (this.resource.length === this.consts.resourceList.length) {
                            this.resource = []
                        } else {
                            this.resource = this.consts.resourceList
                        }
                    },
                },
                mounted() {
                    // this.toggleResource()
                },
                data() {
                    return {
                        resource: []
                    }
                }
            });
        },
        mounted() {
            let that = this
            setInterval(() => {
                that.hint = that.hint === 2 ? 0 : ++that.hint
            }, 4000)
        },
        computed: {
            whetherUseBE() {
                return this.tab === 1
            },
            consts: {
                cache: false,
                get() {
                    return {
                        type: [{text: "1.13以上", value: "normal"}, {text: "1.12.2", value: "compat"}],
                        resourceOption: [{text: "所有", value: "all"}, {text: "无", value: "none"}, {
                            text: "自定义",
                            value: "custom"
                        }],
                        modOption: [{text: "所有", value: "all"}, {value: "none", text: "无"}, {
                            value: "custom",
                            text: "自定义"
                        }],
                        languageOption: [{value: "none", text: "无"}, {
                            value: "custom",
                            text: "自定义"
                        }],
                        beExtType: ['mcpack', 'zip'],
                        modList: [{header: 'Mod文件'}].concat({{ mods|tojson }}).concat({header: 'Mod文件(未汉化)'})
                            .concat({{ enmods|tojson }}),
                        languageList: {{ language|tojson }},
                        resourceList: this.whetherUseBE ? {{ be_resource|tojson }} : {{ resource|tojson }},
                        manifests: this.whetherUseBE ? {{ be_manifests|tojson }} : {{ manifests|tojson }},
                        versions: [{text: '1.16.2+', value: 6}, {text: '1.15 - 1.16.1', value: 5}, {
                            text: '1.13 - 1.14.4', value: 4
                        }, {
                            text: '1.11 - 1.12.2', value: 3
                        }],
                        hints: [
                            "若您不知道如何构建，请直接点击下方按钮下载。",
                            "若需要基岩版的MCBBS/GitHub/唱片包，您可以点击基岩版选项卡后，再点击相应跳转按钮。",
                            "若您发现问题，您可以点击上方链接向我们报告。"
                        ]
                    }
                }
            },
            links() {
                return {
                    github: 'https://github.com/Teahouse-Studios/mcwzh-meme-resourcepack' + (this.tab ? '-bedrock' : ''),
                    mcbbs: `https://www.mcbbs.net/thread-${this.tab ? '1005191' : '1004643'}-1-1.html`,
                    disc: 'https://dianliang-oss-1301161188.file.myqcloud.com/zh-meme-respack/' + (this.tab ? 'Meme_resourcepack_records.mcpack' : 'record-java.zip')
                }
            }
        },
        watch: {
            tab() {
                this.input.resource = []
            }
        },
        vuetify: new Vuetify(),
    });
</script>
</body>
</html>
